*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fc;
  border-radius: 0px 0px 4px 4px;
}

.__day-name {
  font-family: Product Sans;
  font-size: 42px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  user-select: none;
  color: #424242;

  margin-bottom: 36px;
}

.container {
  width: 50%;
  height: 70%;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}

.todo-progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.gauge {
  width: 74px;
  height: 74px;
  display: block;
  user-select: none;
  position: relative;
  margin: 3% 0 3%;
}

.gauge__average {
  color: #3956f7;
}

.gauge__cirlce {
  stroke-linecap: round;
}

.gauge__cirlce-base {
  stroke: #e9ebfc;
  stroke-width: 3;
}

.gauge__cirlce-arc {
  fill: none;
  stroke: currentColor;
  stroke-width: 7;
  transition: stroke-dasharray 0.5s;
}

.gauge__percent {
  color: #000000;
  font-size: 20px;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.todo-progress_todo-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 0.02em;
  color: #000000;

  margin-bottom: 2%;
  user-select: none;
}

.task-list__tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.task-list__input {
  /* margin-top: auto; */
  width: 100%;
  display: flex;
  align-items: center;
}

.task-list__input:hover * {
  fill: #252526;
  color: #252526;
}

.task-list_add-new-task {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.task-list_logo {
  margin: 2px;
  align-items: center;
}

.task-list_new-text {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #252526;
  border: 1px solid #ffffff;
  overflow: hidden;
  resize: none;
}

.task-list_new-text:focus {
  outline: 0;
}

.task-list_border {
  background: #ffffff;
}

.button {
  width: 74px;
  height: 24px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #e8e8e8;
}

.new-task {
  display: none;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* высота для горизонтального скролла */
  background-color: #ffffff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 4px;
}
