.task-item {
  display: flex;
  align-items: center;
  width: 95%;
  height: auto;
  background: #f1f2f6;
  border-radius: 8px;
  margin: 4px 0 4px;
}

.task-item:hover{
  box-shadow: 0 0 0 3px #364ffb;
}

.task-item.task-item_blue-border {
  box-shadow: 0 0 0 3px #364ffb;
}


.task-item:hover > .task-item_remove * {
  opacity: 1;
  transition: opacity 0.3s;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  margin: 8px;
  border-radius: 8px;
  border: 2px solid #bbc1da;
}

.rectangle:hover {
  cursor: pointer;
}

.rectangle.rectangle_checked_true {
  background-color: #ffffff;
  fill: #364ffb;
  opacity: 1;
}

.rectangle.rectangle_checked_true * {
  background-color: #ffffff;
  fill: #364ffb;
  opacity: 1;
}

.rectangle_checked {
  width: 60%;
  height: 50%;
  opacity: 0;
  transition: opacity 1.5s;
}

.rectangle:hover > .rectangle_checked {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.35s;
}

.task-item__text {
  width: 90%; /*спросить, почему пропадает крестик */
  font-family: Roboto;
  font-size: 15px;
  line-height: 16px;
  text-align: justify;
  margin: 8px 0px 8px 0px;
  letter-spacing: 0.02em;
  color: #252526;
  word-wrap: break-word;
}

.task-item__text.task-item_text_line-through {
  text-decoration: line-through;
  color: #a5a5a5;
}

.task-item_remove {
  height: 20px;
  width: 20px;
  margin: 10px 10px 10px auto;
}

.task-item_remove.task-item_remove_view_true * {
  opacity: 1;
}

.task-item__icon {
  margin: 4px;
}

.task-item_remove * {
  opacity: 0;
  fill: #a5a5a5;
  transition: opacity 1.5s;
}

.task-item_remove:hover {
  cursor: pointer;
}

.task-item_remove:hover > .task-item__icon * {
  fill: #252526;
  cursor: pointer;
  transition: fill 0.35s;
}
